.root {
    .cartItem {
        display: flex;
        gap: 4px;

        .span {
            flex: 1;
        }

        .priceToSell {
            flex: 1;
            border-left: 1px solid black;
            padding-left: 4px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }


    .buyButton {
        padding: 16px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.totalSumPrice {
    font-size: 18px;
    font-weight: bold;
}